<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | ServerLog</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            ServerLog&nbsp;&nbsp;|&nbsp;&nbsp;<small>{{ title }}</small>
        </a>
    </div>
</nav>
<main class="container mt-4">{% block body %}{% endblock %}</main>
<footer class="text-center text-muted mt-5 mb-3">
    <hr>
    <small>ServerLog by XMU-Seas0n1c</small>
</footer>
<script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>